baloofilerc
bluedevilglobalrc
cef_user_data
chrome-remote-desktop
Code
dconf
discord
discoverrc
easyeffects
fcitx
filetypesrc
gemini_history.json
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
JetBrains
kactivitymanagerdrc
kactivitymanagerd-statsrc
kcminputrc
kconf_updaterc
KDE
kded5rc
kded6rc
kdedefaults
kdeglobals
kde.org
kglobalshortcutsrc
Kingsoft
kiorc
kitty
konsolerc
konsolesshconfig
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib
mimeapps.list
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-welcomerc
powermanagementprofilesrc
presets
procps
pulse
qtvirtualkeyboard
sddmthemeinstallerrc
session
spicetify
spotify
systemd
systemsettingsrc
thorium-flags.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vscode-sqltools
wal
warp-terminal
xfce4
xsettingsd
yay
zshrc.d