$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #009DC6;
$secondary_paletteKeyColor: #347F9B;
$tertiary_paletteKeyColor: #6974AD;
$neutral_paletteKeyColor: #757682;
$neutral_variant_paletteKeyColor: #73768B;
$background: #11131C;
$onBackground: #E2E1EF;
$surface: #11131C;
$surfaceDim: #11131C;
$surfaceBright: #373943;
$surfaceContainerLowest: #0C0E17;
$surfaceContainerLow: #191B25;
$surfaceContainer: #1D1F29;
$surfaceContainerHigh: #282934;
$surfaceContainerHighest: #33343F;
$onSurface: #E2E1EF;
$surfaceVariant: #424659;
$onSurfaceVariant: #C3C5DD;
$inverseSurface: #E2E1EF;
$inverseOnSurface: #2E303A;
$outline: #8D8FA6;
$outlineVariant: #424659;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #61D4FF;
$primary: #61D4FF;
$onPrimary: #003545;
$primaryContainer: #004D63;
$onPrimaryContainer: #BCE9FF;
$inversePrimary: #006783;
$secondary: #8AD0EE;
$onSecondary: #003545;
$secondaryContainer: #01617C;
$onSecondaryContainer: #FFFFFF;
$tertiary: #B9C3FF;
$onTertiary: #202C61;
$tertiaryContainer: #828DC8;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #BCE9FF;
$primaryFixedDim: #61D4FF;
$onPrimaryFixed: #001F29;
$onPrimaryFixedVariant: #004D63;
$secondaryFixed: #BCE9FF;
$secondaryFixedDim: #8AD0EE;
$onSecondaryFixed: #001F29;
$onSecondaryFixedVariant: #004D63;
$tertiaryFixed: #DDE1FF;
$tertiaryFixedDim: #B9C3FF;
$onTertiaryFixed: #08164B;
$onTertiaryFixedVariant: #384379;
