$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FEE300;
$secondary_paletteKeyColor: #787A4B;
$tertiary_paletteKeyColor: #6B7E44;
$neutral_paletteKeyColor: #7C7764;
$neutral_variant_paletteKeyColor: #7C7760;
$background: #161406;
$onBackground: #E9E2CB;
$surface: #161406;
$surfaceDim: #161406;
$surfaceBright: #3D3929;
$surfaceContainerLowest: #100E03;
$surfaceContainerLow: #1E1C0D;
$surfaceContainer: #222011;
$surfaceContainerHigh: #2D2A1B;
$surfaceContainerHighest: #383525;
$onSurface: #E9E2CB;
$surfaceVariant: #4B4732;
$onSurfaceVariant: #CEC7AC;
$inverseSurface: #E9E2CB;
$inverseOnSurface: #343121;
$outline: #979178;
$outlineVariant: #4B4732;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #DFC700;
$primary: #DFC700;
$onPrimary: #373100;
$primaryContainer: #504700;
$onPrimaryContainer: #FEE300;
$inversePrimary: #6B5F00;
$secondary: #C8CA94;
$onSecondary: #30330B;
$secondaryContainer: #47491F;
$onSecondaryContainer: #E5E6AE;
$tertiary: #B9CF8C;
$onTertiary: #263503;
$tertiaryContainer: #84985B;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FEE300;
$primaryFixedDim: #DFC700;
$onPrimaryFixed: #201C00;
$onPrimaryFixedVariant: #504700;
$secondaryFixed: #E5E6AE;
$secondaryFixedDim: #C8CA94;
$onSecondaryFixed: #1B1D00;
$onSecondaryFixedVariant: #47491F;
$tertiaryFixed: #D5EBA6;
$tertiaryFixedDim: #B9CF8C;
$onTertiaryFixed: #141F00;
$onTertiaryFixedVariant: #3C4C18;
