$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00AFFF;
$secondary_paletteKeyColor: #677897;
$tertiary_paletteKeyColor: #6C74A5;
$neutral_paletteKeyColor: #707881;
$neutral_variant_paletteKeyColor: #6D7883;
$background: #0C141B;
$onBackground: #DBE3ED;
$surface: #0C141B;
$surfaceDim: #0C141B;
$surfaceBright: #323A42;
$surfaceContainerLowest: #070F16;
$surfaceContainerLow: #141C23;
$surfaceContainer: #182027;
$surfaceContainerHigh: #232B32;
$surfaceContainerHighest: #2E363D;
$onSurface: #DBE3ED;
$surfaceVariant: #3D4852;
$onSurfaceVariant: #BDC8D4;
$inverseSurface: #DBE3ED;
$inverseOnSurface: #293139;
$outline: #87929D;
$outlineVariant: #3D4852;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #8ECDFF;
$primary: #8ECDFF;
$onPrimary: #00344F;
$primaryContainer: #004B71;
$onPrimaryContainer: #CBE6FF;
$inversePrimary: #006494;
$secondary: #B5C7E9;
$onSecondary: #1F314C;
$secondaryContainer: #364764;
$onSecondaryContainer: #D5E3FF;
$tertiary: #BCC3FA;
$onTertiary: #252D5A;
$tertiaryContainer: #868EC1;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #CBE6FF;
$primaryFixedDim: #8ECDFF;
$onPrimaryFixed: #001E30;
$onPrimaryFixedVariant: #004B71;
$secondaryFixed: #D5E3FF;
$secondaryFixedDim: #B5C7E9;
$onSecondaryFixed: #081C36;
$onSecondaryFixedVariant: #364764;
$tertiaryFixed: #DEE0FF;
$tertiaryFixedDim: #BCC3FA;
$onTertiaryFixed: #0E1744;
$onTertiaryFixedVariant: #3B4472;
